{% load static %}

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event manager</title>

    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

    <nav class="header">
        <div class="logo">Event manager</div>
        <nav class="nav-bar">
            <a href="{% url 'main_page' %}">Novinky</a>
            <a href="{% url 'events' %}">Události</a>
            {% if perms.auth.jeadmin %}
                <a href="{% url 'administrace' %}">Administrace</a>
            {% endif %}
            {% if request.user.is_authenticated %}
                <a href="{% url 'my_attendees' %}">Moje akce</a>
                <a href="{% url 'my_page' %}">Můj účet - {{ request.user.username }}</a>
                <a href="{% url 'logout' %}">Odhlásit se</a>
            {% else %}
                <a href="{% url 'sign_up' %}">Zaregistrovat se</a>
                <a href="{% url 'login' %}">Přihlásit se</a>
            {% endif %}
            <form class="d-flex" method="get" action="{% url 'search' %}">
                <input type="text" name="query" class="form-control me-2" placeholder="Hledat" aria-label="Search" required="" id="id_query">
                <button class="btn btn-outline-success" type="submit">Hledat</button>
            </form>
        </nav>
    </nav>

    {% if messages %}
        <div id="messages">
            {% for message in messages %}
                <div class="message-success">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <script>
        setTimeout(function() {
            var messages = document.getElementById('messages');
            if (messages) {
                messages.style.display = 'none';
            }
        }, 2000);
    </script>

    <div class="container">
        <div class="left-sidebar">
            <h3>Typy událostí</h3>
            <ul>
                {% for type in type_list %}
                    {% if type.is_approved %}
                        <li><a href="{% url 'type_filter' type.pk %}">{{ type.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div class="content">
            <div>
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>