<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
  </head>
<body>

<h2>Event manager</h2>
    <a href="{% url 'main_page' %}">Events</a><block>"    "</block>
    <a href="{% url 'types' %}">Event Type</a><block>"    "</block>
    <a href="{% url 'login' %}">Přihlášení</a><block>"    "</block>
    <a href="{% url 'logout' %}">Odhlášení</a><block>"    "</block>


    <div>
        {% block content %}{% endblock %}
    </div>

</body>
</html>