{% extends "base.html" %}
{% block main_title %} {{ title }} {% endblock %}
{% block content %}

<br>
<div style="display: flex; align-items: center; justify-content: space-between;">
    <h2>{{ event.name }}</h2>

    {% if user.is_authenticated %}
        {% with event.attendees.all as attendees %}
            {% if user in attendees %}
                <form action="{% url 'attendees' event.id %}" method="post" style="text-align: right;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Odhlásit se</button>
                </form>
            {% else %}
                <form action="{% url 'attendees' event.id %}" method="post" style="text-align: right;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Přihlásit se na akci</button>
                </form>
            {% endif %}
        {% endwith %}
    {% else %}
        <p>Pro přihlášení se na akci se prosím nejprve přihlaste.</p>
    {% endif %}
</div>

    <p><strong>Popis:</strong> {{ event.describtion }}</p>

    <p><strong>Datum:</strong> {{ event.date }}</p>

    <p><strong>Místo:</strong> {{ event.place }}</p>

    {% if event.link %}
        <p><strong>Odkaz:</strong> <a href="{{ event.link }}" target="_blank">{{ event.link }}</a></p>
    {% endif %}
    <strong>Vstupné: </strong>
        {% if event.entry %}
            <strong>Ano</strong> - více informací v popisu.
        {% else %}
            Ne
        {% endif %}
<br>
<br>
<a href="{% url 'event_update' event.pk %}"> Upravit popisek </a>


{% if user.is_authenticated %}
<h4>Komentáře</h4>

    <ul>
        {% for comment in comments %}
          <li>
            {{ comment.user.username }} ({{ comment.comment }}) - {{ comment.comment_date }}
              <br><br>
          </li>
        {% endfor %}
    </ul>

          <form action="/detail/{{event.pk}}" method="POST">
            {% csrf_token %}
              <p>Nový komentář:</p>
              <textarea name="comment" style="width: 400px; height: 50px;"></textarea>
            <input type="submit" value="Přidat nový komentář">
          </form>
{% else %}
    <p>Musíte být přihlášeni, abyste mohli přidávat komentáře.</p>
{% endif %}

<div>Momentální počet přihlášených uživatelů: {{ attendee_count }}</div><br>
<p>Uživatelé:</p>
<ul>
    {% for attendee in attendees %}
        <li>{{ attendee.username }}</li>  <!-- Zobrazí uživatelské jméno -->
    {% empty %}
        <li>Žádní přihlášení uživatelé.</li>
    {% endfor %}
</ul>



{% endblock %}