{% extends "base.html" %}
{% block main_title %} {{ title }} {% endblock %}
{% block content %}
    <h3>Vytvořit událost</h3>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div>
        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
        {{ form.name }}
        {% if form.name.errors %}
            <div class="alert alert-danger">
                <ul class="errorlist">
                    {% for error in form.name.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <br>
    <div>
        <label for="{{ form.describtion.id_for_label }}">{{ form.describtion.label }}</label>
        {{ form.describtion }}
        {% if form.describtion.errors %}
            <div class="alert alert-danger">
                <ul class="errorlist">
                    {% for error in form.describtion.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <br>
    <div>
        <label for="{{ form.eventType.id_for_label }}">{{ form.eventType.label }}</label>
        {{ form.eventType }}
        {% if form.eventType.errors %}
            <div class="alert alert-danger">
                <ul class="errorlist">
                    {% for error in form.eventType.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <br>
    <div>
        <label for="{{ form.new_event_type.id_for_label }}">{{ form.new_event_type.label }}</label>
        {{ form.new_event_type }}
        {% if form.new_event_type.errors %}
            <div class="alert alert-danger">
                <ul class="errorlist">
                    {% for error in form.new_event_type.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <br>
    <div>
        <label for="{{ form.date.id_for_label }}">{{ form.date.label }}</label>
        {{ form.date }}
        {% if form.date.errors %}
            <div class="alert alert-danger">
                <ul class="errorlist">
                    {% for error in form.date.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <br>
    <div>
        <label for="{{ form.place.id_for_label }}">{{ form.place.label }}</label>
        {{ form.place }}
        {% if form.place.errors %}
            <div class="alert alert-danger">
                <ul class="errorlist">
                    {% for error in form.place.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <br>
    <div>
        <label for="{{ form.link.id_for_label }}">{{ form.link.label }}</label>
        {{ form.link }}
        {% if form.link.errors %}
            <div class="alert alert-danger">
                <ul class="errorlist">
                    {% for error in form.link.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <br>
    <div>
        <label for="{{ form.entry.id_for_label }}">{{ form.entry.label }}</label>
        {{ form.entry }}
        {% if form.entry.errors %}
            <div class="alert alert-danger">
                <ul class="errorlist">
                    {% for error in form.entry.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <br>
    <div>
        <label for="{{ form.image.id_for_label }}">{{ form.image.label }}</label>
        {{ form.image }}
        {% if form.image.errors %}
            <div class="alert alert-danger">
                <ul class="errorlist">
                    {% for error in form.image.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <br>
    <div>
        <label for="{{ form.is_capacity_limited.id_for_label }}">{{ form.is_capacity_limited.label }}</label>
        {{ form.is_capacity_limited }}
    </div>
    <br>
    <div>
        <label for="{{ form.capacity.id_for_label }}">{{ form.capacity.label }}</label>
        {{ form.capacity }}
        {% if form.capacity.errors %}
            <div class="alert alert-danger">
                <ul class="errorlist">
                    {% for error in form.capacity.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <br>
    <input type="submit" value="Uložit" class="btn btn-primary">
</form>

    <script>
        // JavaScript pro zobrazení nebo skrytí pole pro kapacitu
        document.addEventListener('DOMContentLoaded', function() {
            const checkbox = document.querySelector('input[name="is_capacity_limited"]');
            const capacityField = document.getElementById('id_capacity');
            const capacityLabel = document.querySelector('label[for="id_capacity"]');

            // Funkce pro zobrazení nebo skrytí pole na základě stavu checkboxu
            function toggleCapacityField() {
                if (checkbox.checked) {
                    capacityField.style.display = 'inline-block';
                    capacityLabel.style.display = 'inline-block';

                } else {
                    capacityField.style.display = 'none';
                    capacityLabel.style.display = 'none';
                }
            }

            // Při načtení stránky zavolat toggleCapacityField pro nastavení výchozího stavu
            toggleCapacityField();

            // Při změně checkboxu volat toggleCapacityField
            checkbox.addEventListener('change', toggleCapacityField);
        });
    </script>

{% endblock %}