{% extends "base.html" %}
{% block main_title %} {{ title }} {% endblock %}
{% block content %}


    <div class="main-content">

        <h3>Nově přidané události</h3>

        {% for event in newest_events %}
        <p>Datum vytvoření: {{ event.create_date }}  {{ event.name }}
            <a href="{% url 'detail' event.pk %}" class="button">Detail- {{event.pk}}</a></p></p>
        {% endfor %}
        <br>

        <h3>Nadcházející události</h3>

        {% for event in nearest_events %}
        <p>Datum: {{ event.date }}  {{ event.name }}
            <a href="{% url 'detail' event.pk %}" class="button">Detail- {{event.pk}}</a></p></p>
        {% endfor %}
        <br>


        <h3>Nejnovější komentáře</h3>

        {% for comment in newest_comments %}
        <p>Komentář k události {{ comment.event.name }}: {{ comment.comment_date }} - {{ comment.comment }}
                <a href="/detail/{{event.pk}}" class="button">Podívat se na událost</a></p>
        {% endfor %}
        <br>

  </div>

</div>

{% endblock %}