{% extends "base.html" %}
{% block main_title %} {{ title }} {% endblock %}
{% block content %}
<h1>Moje akce</h1>

<ul>
    {% for event in events %}
      <li>
        {{ event.name }}
        <a href="/detail/{{event.pk}}" class="button">
            Prohlédnout událost
        </a>
          <br><br>
          <a href="{% url 'event_update' event.pk %}"> Upravit </a>
          <a href="{% url 'event_delete' event.pk %}"> Smazat </a>
          <br><br>
          <a href="{% url 'event_update' event.pk %}"> Přihlásit se </a>
          <br><br>
      </li>

    {% endfor %}
</ul>
<br>
<a href="{% url 'event_create' %}" class="button">
           Přidat novou událost
</a>

{% endblock %}