{% extends "base.html" %}
{% block main_title %} {{ title }} {% endblock %}
{% block content %}

  <h3>Stránka uživatele {{ request.user.username }}</h3>

    <ul>
    <li>Uživatelské jméno: {{ user.username }}</li>
    <li>Jméno: {{ user.first_name }}</li>
    <li>Příjmení: {{ user.last_name }}</li>
    <li>Email: {{ user.email }}</li>
    <li>Aktivní uživatel:
      {% if user.is_active %}
      Ano
      {% else %}
      Ne
      {% endif %}
    </li>
    <li>Datum registrace: {{ user.date_joined }}</li>


    </ul>
    <br>
    <a href="{% url 'user_update' %}" class="btn btn-outline-info">Upravit osobní údaje</a>
    <br><br>
    <a href="{% url 'password_change' %}" class="btn btn-outline-info">Změnit heslo</a>
    <br><br>
    <a href="{% url 'logout' %}" class="btn btn-outline-secondary">Odhlásit se</a>
    <br>


{% endblock %}