{% extends "base.html" %}
{% block main_title %} {{ title }} {% endblock %}
{% block content %}

  <h3>Page of user {{ request.user.username }}</h3>

    <ul>
    <li>Username {{ user.username }}</li>
    <li>First name {{ user.first_name }}</li>
    <li>Last name {{ user.last_name }}</li>
    <li>Email {{ user.email }}</li>
    <li>is_active {{ user.is_active }}</li>
    <li>date_joined {{ user.date_joined }}</li>


    </ul>
    <br>
    <a href="{% url 'user_update' %}" class="btn btn-outline-info">upravit osobní údaje</a>
    <br><br>
    <a href="{% url 'password_change' %}" class="btn btn-outline-info">Change password</a>
    <br>
    <a href="{% url 'logout' %}" class="btn btn-outline-secondary">Logout</a>
    <br>


{% endblock %}