{% extends "base.html" %}
{% block main_title %} {{ title }} {% endblock %}
{% block content %}

<h3>Odeslat e-mail účastníkovi {{ attendee.username }}</h3>
<br>
<form method="post">
    {% csrf_token %}
    <div>
        <label for="id_subject">Předmět:</label>
        {{ form.subject }}<br>

    </div>
<br><div>
        <label for="id_message">Zpráva:</label>
        {{ form.message }}<br>
<br>
    </div>
    <button type="submit" class="btn btn-primary">Odeslat email</button>
</form>

{% endblock %}